body,
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}

#game {
  padding: 15px;
  width: 100%;
  height: 100%;
}

#cards > .card,
#trash > .card {
  display: inline-block;
  width: 90px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 15px 15px 0;
  vertical-align: top;
  border-radius: 5px;
  background: linear-gradient(25deg, rgb(226, 226, 226), rgb(255, 255, 255));
  position: relative;
}

#trash .card {
  transform: skewX(18deg) rotateX(45deg);
  background: linear-gradient(25deg, rgb(255, 255, 255), rgb(226, 226, 226));
}

.card.color-blue {
  color: #0056ff;
}

.card.color-yellow {
  color: #b5bb08;
}

.card.color-red {
  color: #da0000;
}

.card.color-green {
  color: #2b963a;
}

.card .card-number {
  position: absolute;
  font-weight: 600;
}

.card .card-number:first-child {
  top: 5px;
  left: 5px;
}

.card .card-number:last-child {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

.card:before {
  left: 33%;
  top: 33%;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  transform: rotate3d(-1, 1, 1, 45deg);
  text-align: center;
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
}

.card.choose_color:before {
  content: " ";
  border: 12px solid;
  border-top-color: #0056ff;
  border-left-color: #b5bb08;
  border-bottom-color: #da0000;
  border-right-color: #2b963a;
  width: 0px;
  height: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  transform: rotate3d(-1, 1, 1, 45deg) rotate(15deg);
}

.card.revert-red:before,
.card.revert-blue:before,
.card.revert-yellow:before,
.card.revert-green:before {
  content: "\f021";
  font-family: "FontAwesome";
  font-weight: 600;
  font-size: 25px;
}

.card.block-red:before,
.card.block-blue:before,
.card.block-yellow:before,
.card.block-green:before {
  content: "\f05e";
  font-family: "FontAwesome";
  font-weight: 600;
  font-size: 25px;
}

.card.four_cards:before {
  content: "+4";
  font-weight: 600;
  font-size: 25px;
}

.card.two-cards-green:before,
.card.two-cards-blue:before,
.card.two-cards-red:before,
.card.two-cards-yellow:before {
  content: "+2";
  font-weight: 600;
  font-size: 25px;
}

#trash {
  padding: 110px 0 0 0;
  margin: 20px 0 0 20px;
  width: 90px;
}

#trash > li.card {
  transform: skewX(18deg) rotateX(45deg);
  background: linear-gradient(25deg, rgb(255, 255, 255), rgb(226, 226, 226));
  z-index: 1;
  margin: -110px 0 0 0;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.11);
  position: relative;
}
